// DEL ( временные стили для debug)
.red {
  background-color: red;
}

.blu {
  background-color: blue;
}

.gre {
  background-color: green
}

;
.yel {
  background-color: yellow;
}

.gra {
  background-color: gray;
}

.pi {
  background-color: pink;
}

.wh {
  background-color: white;
}